<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScXUnlhKNzQElDnKFvsuJ7uY5VAQ2RJp_uLh6A1xh2Q_WNm7g/formResponse">
    <!-- <div>
      <input type="hidden" name="entry.643440188_year" id="year" value="">
      <input type="hidden" name="entry.643440188_month" id="month" value="">
      <input type="hidden" name="entry.643440188_day" id="day" value="">
    </div> -->
    <label for="name">Name</label>
    <input name="entry.564454318" type="text" id="name" required>
  
    <label for="email">Email</label>
    <input name="entry.1232092663" type="email" id="email" required>
  
    <label for="phone">Phone number</label>
    <input name="entry.2115061200" type="tel" id="phone" required>
  
    <label for="date">Please provide a date (NWA Pinball-sanctioned events take priority)</label>
    <input name="entry.643440188" type="date" id="date" required onchange="updateDateFields()">
  
    <label>Will you require a table for refreshments?</label>
    <label>
      <input type="radio" name="entry.253709012" value="Yes" required> Yes
    </label>
    <label>
      <input type="radio" name="entry.253709012" value="No" required> No
    </label>
  
    <label>Would you like us to run a game tournament for your guests?</label>
    <label>
      <input type="radio" name="entry.1856859813" value="Yes" required> Yes
    </label>
    <label>
      <input type="radio" name="entry.1856859813" value="No" required> No
    </label>
  
    <label for="message">Message</label>
    <textarea name="entry.1528997229" id="message" placeholder="Enter multiple dates if you have a preference, or any other details you'd like to provide so we can assist you better."></textarea>
  
    <input type="submit" value="Submit">
    <iframe name="hidden_iframe" id="hidden_iframe" style="display: none;"></iframe>
  </form>
  
  <script>
    function updateDateFields() {
      const dateInput = document.getElementById('date').value;
      const date = new Date(dateInput);
      document.getElementById('year').value = date.getFullYear();
      document.getElementById('month').value = date.getMonth() + 1; // Months are zero-based
      document.getElementById('day').value = date.getDate();
    }
  </script>