html,
body {
   padding: 0;
   margin: 0;
   font-family: 'Inter', sans-serif;
}

* {
   box-sizing: border-box;
}

a {
   background: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%), 
               radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%), 
               radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%), 
               radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%), 
               radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-decoration: none; /* Optional: remove underline from links */
}

a:hover {
   color: #C70039; /* Optional: change color on hover */
}

.gradient-text {
   background: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%), 
               radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%), 
               radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%), 
               radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%), 
               radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }